extends ../layout

block content
  include ../partials/header_dashboard

  article#main
    header.special.container
      span.icon.fa-sign-in
      h2 Your Profile
      p Edit your login/profile details.

  section.wrapper.style4.special.container(class="75%")              
    //img(src='#{user.profile.picture}', style='width: 75px; height: 75px; border-radius: 50px; margin-top: -125px;')

    form(action='/account/profile', method='POST', style='text-align: left;')
      input(type='hidden', name='_csrf', value=_csrf)
      .row
        .6u.12u(mobile).form-group
          label.control-label(for='email') Email
          input.form-control(type='email', name='email', id='email', value='#{user.email}')
        .6u.12u(mobile).form-group
          label.control-label(for='name') Name
          input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
        if(user.title != undefined)
          .12u.form-group
            label.control-label(for='title') Title
            input.form-control(type='text', name='title', id='title', value='#{user.title}')
        .12u.form-group
          label.control-label(for='desc') Description
          textarea(name='desc', id='desc', value='#{user.description}')
            | #{user.description}
        .12u.form-group
          button.button.special(type='submit')
            i.fa.fa-pencil
            | Update Profile

    .page-header(style='text-align: left;')
      h3 Change Password

    form(action='/account/password', method='POST', style='text-align: left;')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.control-label(for='password') New Password
        input.form-control(type='password', name='password', id='password')
      .form-group
        label.control-label(for='confirmPassword') Confirm Password
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
      .form-group.12u
          button.special.button(type='submit')
            i.fa.fa-lock
            | Change Password

    .page-header
      h3 Delete Account

    p You can delete your account, but keep in mind this action is irreversible.
    form(action='/account/delete', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-danger(type='submit')
        i.fa.fa-trash
        | Delete my account

