extends layout

block content
	include partials/header_dashboard
	br
	br
	br
	section.wrapper.style3.container.special
		header.major
			h2
				if user.role == 'Coach'
					| Coaching 
				else 
					| Your 
				| Applications 
			

		.search-tabs-wrapper
			ul.nav.nav-tabs(role="tablist")
				li.active
					a(href="#pending" role="tab" data-toggle="tab") Pending (#{pending.length})
				li
					a(href="#accepted" role="tab" data-toggle="tab") Accepted (#{accepted.length})
				li
					a(href="#rejected" role="tab" data-toggle="tab") Rejected Applications (#{rejected.length})
			br
			.tab-content.search-tabs-content
				.tab-pane.active(id="pending") 
					- var val = 0;
					if pending.length == 0
						h4 You have no pending applications.
					else
						while val < pending.length
							div(style='text-align: center; width: 45%; border: 1px solid #ECECEC; display: inline-block; padding: 10px; margin: 10px;')
								img(src='#{pending[val].models.athlete[0].profile.picture}', style='width: 75px; height: 75px; border-radius: 50px; margin-top: -35px;')

								p(style='margin-bottom: 10px; border-bottom: 1px dashed #ECECEC;')
									strong
										| #{pending[val].models.athlete[0].profile.name} 
								p(style='margin-top: 10px;')
									| #{pending[val].models.athlete[0].description} 
								p(style=' font-size: 16px;')
									| Wants to book you to work on 
									strong(style='text-transform: lowercase;')
										| #{pending[val].body}. 
								if user.role == 'Coach'
									a.ac-app.button.special(data-toggle="modal",data-target="#acceptModal", data-application-id="#{pending[val].uniqueString}", style='min-width: 0; width: 40%;')
										| Accept
									a.ac-rej.button(data-toggle="modal",data-target="#rejectModal",style='margin-left:5px; min-width: 0; width: 40%;', data-application-id="#{pending[val].uniqueString}")
										| Decline
							- val++
				.tab-pane(id="accepted") 
					- var val = 0;
					if accepted.length == 0
						h4 You have no accepted applications, yet.
					else
						while val < accepted.length
							div(style='text-align: center; width: 45%; border: 1px solid #ECECEC; display: inline-block; padding: 10px; margin: 10px;')
								img(src='#{accepted[val].models.coach[0].profile.picture}', style='width: 75px; height: 75px; border-radius: 50px; margin-top: -35px;')
								p(style=' font-size: 16px;')
									strong
										| #{accepted[val].models.coach[0].profile.name} 
									| has accepted your application! Before you proceed, please make your payment below. 
									strong(style='text-transform: lowercase;')
										| #{accepted[val].body}.
									if user.role == 'Player'	 
										form(method='POST')
											input(type='hidden', name='_csrf', value=_csrf)
											input(type='hidden', name='appid', value='#{accepted[val].uniqueString}')
											script(
											src='https://checkout.stripe.com/checkout.js',
											class='stripe-button',
											data-key=publishableKey,
											data-image='#{accepted[val].models.coach[0].profile.picture}',
											data-name='Book a Session',
											data-description='General Instruction ($#{accepted[val].models.coach[0].price/100})',
											data-amount='#{accepted[val].models.coach[0].price}')

							- val++
				.tab-pane(id="rejected") 
					- var val = 0;
					if rejected.length == 0
						h4 You have not been rejected for any applications.
					else
						while val < rejected.length
							div(style='text-align: center; width: 45%; border: 1px solid #ECECEC; display: inline-block; padding: 10px; margin: 10px;')
								img(src='#{accepted[val].models.coach[0].profile.picture}', style='width: 75px; height: 75px; border-radius: 50px; margin-top: -35px;')
								p(style=' font-size: 16px;')
									strong
										| Coach #{rejected[val].models.coach[0].profile.name} 
									| is currently overbooked - we recommend that you look at other coach profiles 
									a(href='/')
										| here.
							- val++


		if user.role == 'Coach'
			#acceptModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
				.modal-dialog(role='document')
					.modal-content
						form(method='POST', action='../d/accepted/')
							input(type='hidden', name='_csrf', value=_csrf)
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') &times;
								h4#myModalLabel.modal-title What do you need from the athlete?    
							.modal-body(style='text-align: left;')
								strong(style='font-size: 16px;')
									| Are you sure you want to accept this application? If you proceed, the athlete will be prompted to make the payment and the session will begin.
								hr
								textarea(style='width:100%; height: 150px; margin-top: 2.5%;', name='requirements', placeholder='Please write up a message for the athlete that describes what videos you need from him/her.')
							footer
								ul.buttons
									li
										input#appid(type='hidden', name='applicationid')
									li
										a.button(type='button', data-dismiss='modal') Cancel        
									li
										input.button.special(type='submit', value='Submit')
								br

			#rejectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
							h4#myModalLabel.modal-title Are you sure you want to reject the athlete's application?    
						.modal-body
							| Athletes thrive on feedback -- you can type out some 
							strong
								| optional 
							| feedback about why their application was rejected.
							textarea(style='width:100%; height: 150px; margin-top: 2.5%;')
						.modal-footer
							a.btn.btn-default(type='button', data-dismiss='modal') Cancel        
							a#ac-rej-btn.btn.btn-danger(type='button') Reject

	!= js('view.application.js')