//extends layout

!= css('landing')
script(src='https://code.jquery.com/jquery-2.1.4.js')
link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

<!-- Facebook Pixel Code -->
script
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','//connect.facebook.net/en_US/fbevents.js');

  fbq('init', '1653864961561528');
  fbq('track', "PageView");

  noscript
    img(height="1",width="1",style="display:none",
src="https://www.facebook.com/tr?id=1653864961561528&ev=PageView&noscript=1")

<!-- End Facebook Pixel Code -->


<title>Rookie</title>



div#topbody(style='width: 100%; margin: 0; min-height: 75%; color: white; padding: 0;')
  #postsignup(style='display: none; width: 40%; margin: 0 auto;  text-align: center;  ')
    div(style='margin-top: 10%; border-radius: 10px; padding: 2.5%; background: rgba(0,0,0,0.2);')
      h1(style='font-size: 25px; letter-spacing: 1px; font-weight: 200;')
        | Thanks for signing up!
      | Want to move up in line? Follow us on social media for first dibs!
      #social(style='display: block; margin-top: 5%;')
        a(href='https://www.instagram.com/tryrookie/')
          img(src='http://i.imgur.com/uOpZPnf.png', style='margin: 1%; border-radius: 10px;')
        a(href='https://twitter.com/tryrookie/')
          img(src='http://i.imgur.com/Ql16Jld.png', style='margin: 1%; border-radius: 10px;')
  #presignup
    div(style='width: 100%; text-align: center;')
      br
      h1(style='font-size: 25px; letter-spacing: 1px; font-weight: 200;')
        | Personalized Training from NBA-level coaches.
    div(style='width: 100%; text-align: center; font-size: 10px;')
      div(style='width: 27%; margin: 2%; display: inline-block; ')
        img(src='http://i.imgur.com/6Ugy6mX.gif', style='border: 10px solid rgba(0, 0, 0, 0.1); width: 100%; height: 35%; margin: 0; margin-bottom: 10px;')
        strong STEP 1.  
        | RECORD A VIDEO
      div(style='width: 27%; margin: 2%; display: inline-block; ')
        img(src='http://i.imgur.com/lY98jfd.gif', style='border: 10px solid rgba(0, 0, 0, 0.1); width: 100%; height: 35%; margin: 0; margin-bottom: 10px;')
        strong STEP 2. 
        | BOOK A COACH
      div(style='width: 27%; margin: 2%; display: inline-block; ')
        img(src='http://i.imgur.com/yDQDIxf.jpg', style='border: 10px solid rgba(0, 0, 0, 0.1); width: 100%; height: 35%; margin: 0; margin-bottom: 10px;')
        strong STEP 3. 
        | GET FEEDBACK
    br
    div(style='width: 100%; text-align: center;')
      #msg
        | Some players our coaches have worked with...
      img(src='http://i.imgur.com/ouhMtQ1.png?1', style='margin: 1%; box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.15); width: 75px; height: 75px; background: rgba(0,0,0,0.2); border-radius: 150px;')
      img(src='http://i.imgur.com/6bMsUgz.png?1', style='margin: 1%; box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.15); width: 75px; height: 75px; background: rgba(0,0,0,0.2); border-radius: 150px;')
      img(src='http://i.imgur.com/7gmHgu4.png?1', style='margin: 1%; box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.15); width: 75px; height: 75px; background: rgba(0,0,0,0.2); border-radius: 150px;')
      br
      br
    div(style='width: 100%; text-align: center;')
      form#beta1(method='POST', action='submitEmail', style='border: 10px solid rgba(0, 0, 0, 0.1);display: inline;padding: 10px 2px;')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='ref', id='refdiv')
        input(type='text', placeholder='Enter your email for early access!', name='emailsubmit', style='    height: 40px; border: 0; color: black; border-radius: 5px; padding: 10px; font-size: 13px; width: 250px;')
        input#submit(type='submit', value='Go')
      #beta2(style='display: none;')
        | Thanks -- we'll be in touch!
      a#testimonials(href='#test', type='button')
        | Testimonials ↓
      #invites(style='display: block; margin-top: 1%; width: 50%; margin: 0 auto; padding-top: 25px;')
        .progress(style='background: #cdcdcd;')
          .progress-bar(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style='width: 75%;')
            span.sr-only
            | 437/500 invites sent
    div(style='width: 90%; margin: 0 auto; color: white; text-align: center; font-size: 10px;')
        br
        br
        div#test(style='width: 100%; font-size: 13px; font-weight: bold; margin-top: 1%;')
          | TESTIMONIALS
        br
        div(style='width: 27%; margin: 2%; margin-top: 0; vertical-align: top; display: inline-block; text-align: left; font-size: 12px; background: rgba(250,250,250,0.1); padding: 1%; border-radius: 5px;') 
          p "I can't believe an NBA shooting coach just gave me personalized feedback on my shot! Thank you so much to Rookie for the early preview of what's in store. It was an awesome experience."
          p(style='font-size: 10px; text-transform: uppercase;') Kyle Idris, 16, San Francisco
        div(style='width: 27%; margin: 2%; margin-top: 0; vertical-align: top; display: inline-block; text-align: left; font-size: 12px; background: rgba(250,250,250,0.1); padding: 1%; border-radius: 5px;') 
          p "I signed up and got a preview of Rookie. My coach had worked with Steve Nash on the Suns. I'm still in a bit of shock that I got coached by the same guy. Can't wait to get on the court later."
          p(style='font-size: 10px; text-transform: uppercase;') Kevaun Washington, 14, Oklahoma City
        div(style='width: 27%; margin: 2%; margin-top: 0; vertical-align: top; display: inline-block; text-align: left; font-size: 12px; background: rgba(250,250,250,0.1); padding: 1%; border-radius: 5px;') 
          p "I'm so happy I got to try Rookie today. I already feel way more confidence about how to read my defender in a one-on-one situation. Thanks again Coach Church!"
          p(style='font-size: 10px; text-transform: uppercase;') Ben Harquail, 17, Boston
  script.
    document.getElementById("refdiv").value = document.referrer
    
    if(document.location.search.match("betasubmitted")){
      document.getElementById("presignup").style.display = "none";
      document.getElementById("postsignup").style.display = "";
    }

block content
  //include partials/header


  //section#banner(style='padding-top:40px;')
    .inner
      h1(style='font-size: 20px; font-weight: bold;')
          | To beat the best, you have to learn from the best
      h1
        | Get personalized feedback from NBA skills development coaches
      img(src='/splash.png')
      hr
      #beta1
        p(style='font-size: 12px; font-weight: bold;') We're launching soon. Sign up to get early access
        form(method='POST', action='submitEmail')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='ref', id='refdiv')
          input(type='text', placeholder='Email address here', name='emailsubmit', style='width: 50%; display: inline-block; margin: 0; vertical-align: bottom; background: white; color: black;')
          input.button.special(type='submit', value='Go', style='width: 100px; min-width: 0; height: 49px; vertical-align: bottom;')
        //div#lr-widget(rel="FUSYFXDB")
        //script(src="http://ignition.launchrock.com/ignition-current.min.js")
      #beta2(style='display: none;')
        p(style='font-size: 14px; font-weight: bold;') Thanks -- we'll be in touch!

      footer
    
    //a.more.scrolly(href="#main")

    

  //article#main(style='display: none;')
    section.wrapper.style1.container.special
      .row
        .4u.12u(narrower)
          section
            span.icon.featured.fa-check
              header
                h3
                  | Pro-Level Skills Assessment
                p
                  | Complete our pro-level skills assessment so we can match you with the perfect private coaches.</p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-mortar-board
              header
                h3
                  | Pick your Coach
                p
                  | Browse through our recommended coaches and select whom you want to start learning from. </p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-futbol-o
              header
                h3
                  | Train
                p
                  | Start working with your coach through our online video platform and keep track of your progress.</p> */
